* {
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    min-height: 4em;
    background-color: rgb(98, 224, 255);
    color: black;
}

#container {
    width: 100%;
    padding-top: 4em;
}

#hero {
    width: 100%;
    height: 36em;
    background-position: center center;
    background-repeat: no-repeat;
}
#hero>img {
    max-width: 100%;
}
#hero>h2 {
    
}

#section1 {
    width: 100%;
    height: 16em;
}

#section2 {
    width: 100%;
    height: 16em;
}

#footer {
    width: 100%;
    height: 4em;
}

.blue {
    color: rgb(100, 210, 220);
}

.orange {
    color: rgb(240, 103, 59);
}

.gray {
    background-color: rgb(29, 29, 35);
    color: white;
}

.button {
    background-color: rgb(240, 103, 59);
    color: white;
}
